In [ ]:
import json
import pandas as pd
from collections import Counter

In [ ]:
f = open('lotto_america_winning_nums.json', 'r')
data = json.load(f)

In [ ]:
df = pd.DataFrame(data).transpose()
df.head()

In [ ]:
df2 = pd.DataFrame(df)
df2[['Ball 1', 'Ball 2', 'Ball 3', 'Ball 4', 'Ball 5']] = pd.DataFrame(df.main_numbers.tolist(), index = df2.index)
df2 = df2.drop('main_numbers', axis=1)
cols = ['Ball 1', 'Ball 2', 'Ball 3', 'Ball 4', 'Ball 5', 'star_number', 'multiplier']
df2 = df2[cols]
df2.head()